<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>My Very First Page</title>
</head>
<body>
    <h3>Main Page</h3>   
    <form action="/calculate" method="post">
        Insert a random number <input type="text" name="max"/>
        <button>SUM of 1+2+3+...+Your number</button>
    </form>
    <hr/>
    <form action="/show">
    Account Name <input type="text" name="name"/>
        <button>Send Form</button>
    </form>
    <hr/>
    <a href="/page">Click me</a>
    <br/>
    <img src="/Linear.png"/><img src="/sc.png"/>
</body>
</html>